<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkDN9lrAo-1rcPhEKwrCptJkrHGyIAlLM</string>
	<key>GCM_SENDER_ID</key>
	<string>291064496886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.thecdm.arnavi</string>
	<key>PROJECT_ID</key>
	<string>arnavi-89df3</string>
	<key>STORAGE_BUCKET</key>
	<string>arnavi-89df3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291064496886:ios:95c9ecb67bfde1603762d7</string>
</dict>
</plist>